/* Anime Miru */

.asukaImage{
    background-image: url(./../img/banner-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    color: white;

}
.asukaImage h1{
    padding-top: 40%;
    color:white;
    text-transform: uppercase;                             
    text-shadow: 2px 2px 2px black;                       
    font-size: 400%;
    text-align: right;

}






    

